@import url(styles/variables.css);
@import url(styles/basic.css);
@import url(styles/header.css);
@import url(styles/hero.css);
@import url(styles/about.css);
@import url(styles/project.css);
@import url(styles/contact.css);
@import url(styles/footer.css);