.footer {
    position: relative;
    margin-top: 535px;
}

.footer__wrapper p{
    font-weight: 500;
    font-size: 48px;
    line-height: 42%;
    color: var(--font-color-main);
    padding-left: 74px;
}